{% extends 'base.html' %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/posts.css' %}"/>
<link rel="stylesheet" href="{% static 'blog/style.css' %}" />
{% endblock css_files %}

{% block content %}
<form method="post" >
        {% csrf_token %}
        {% for field in form%}
        <div class="form-control {% if field.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button>Send</button>
    </form>


{% endblock content %}