{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}"/>
    {% block css_files %}{% endblock css_files %}
</head>
<body>
<header id="main-navigation">
    <h1><a href="{% url 'starting-page' %}">Home</a></h1>
    <nav>
        <a href="{% url 'all-posts' %}">All Posts</a>
    </nav>
</header>
{% block content %}
{% endblock content %}
<footer id="footer">
    <h1><a href=
                   "{% url 'about' %}">About Us &nbsp;</a></h1>
    <h1><a href=
                   "{% url 'policy' %}">Privacy Policy &nbsp;</a></h1>
    <h1><a href=
                   "{% url 'carrers' %}">Careers &nbsp; </a></h1>


<p>@blogbyrashmi, Some rights reserved</p>


        </footer>
</body>
</html>